* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  background: orange;
  margin-bottom: 10px;
}
/* inset 
inset is short hand property of top, right, bottom, left 
inset : 0 - top=left=right=bottom=0
inset: 0 10 20 30; top:0, right:0, bottom:0, left:0
*/

.org {
  width: 30vw;
  height: 40vh;
  margin: 10px auto
}

.spe {
  width: 30vw;
  height: 40vh;
  margin: 10px auto;
  position: relative;
}

.spe h1 {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  inset: 0;
  /* top:0, left:0, bottom:0, right:0 */
}